<div class="row ng-hide">
    <div class="col-lg-9 columns">
        <p>
            <a href="#" class="btn btn-primary btn-sm">Add Staff Member</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper-loading-inline">
            <img src="images/loading-balls.svg" alt="Loading icon"/>
        </div>
        <div class="table-responsive ng-hide">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>f</td>
                    <td><a href="#">View</a></td>
                    <td class="action">
                        <div>
                            <a href="#"><i class="icon-edit"></i> Edit</a>
                        </div>
                    </td>
                    <td class="action">
                        <div>
                            <a href="#"><i class="icon-edit"></i> Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>f</td>
                    <td><a href="#">View</a></td>
                    <td class="action">
                        <div>
                            <a href="#"><i class="icon-edit"></i> Edit</a>
                        </div>
                    </td>
                    <td class="action">
                        <div>
                            <a href="#"><i class="icon-edit"></i> Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>f</td>
                    <td><a href="#">View</a></td>
                    <td class="action">
                        <div>
                            <a href="#"><i class="icon-edit"></i> Edit</a>
                        </div>
                    </td>
                    <td class="action">
                        <div>
                            <a href="#"><i class="icon-edit"></i> Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>f</td>
                    <td><a href="#">View</a></td>
                    <td class="action">
                        <div>
                            <a href="#"><i class="icon-edit"></i> Edit</a>
                        </div>
                    </td>
                    <td class="action">
                        <div>
                            <a href="#"><i class="icon-edit"></i> Delete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>f</td>
                    <td><a href="#">View</a></td>
                    <td class="action">
                        <div>
                            <a href="#"><i class="icon-edit"></i> Edit</a>
                        </div>
                    </td>
                    <td class="action">
                        <div>
                            <a href="#"><i class="icon-edit"></i> Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div class="row ng-hide">
    <div class="col-lg-8">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
    <div class="col-lg-4 text-right">
        Display 1-10 / 34 items
        <ul class="pagination pagination-result">
            <li class="active"><a href="#">10</a></li>
            <li><a href="#">25</a></li>
            <li><a href="#">50</a></li>
            <li><a href="#">All</a></li>
        </ul>
    </div>
</div>